.testimonials {
    text-align: center;
    margin: 5.3em 0;

    h2 {
        margin-bottom: 1em;
    }

    button,
    .testimonials__radio-buttons {
        margin: 2em 0;
    }
}

.swiper-container {
    max-width: 80%;
    height: 350px;
    margin: 2em 0;
}

.swiper-slide {
    width: 85%;
}

.slider-content {
    background-color: $very-light-gray;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1rem 1rem;
    margin: 2em auto;
    width: 17.5rem;

    h3 {
        margin-bottom: 1.2rem;
    }

    .slider__img-container {
        width: 4.3rem;
        height: 4.3rem;
        position: relative;

        img {
            position: absolute;
            bottom: 2.8rem;
            left: 0;
            right: 0;
        }
    }
}

.swiper-pagination-bullet {
    // USAR important unicamente para poder estilizar los bullets.
    width: 0.65rem !important;
    height: 0.65rem !important;
    background-color: $bright-red !important;
}

@media Screen and (min-width: 1024px) {
    .testimonials__slider-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2.5rem;
    }

    .slider-content {
        width: 28.5rem;
    }
}
