// PRIMARY COLORS

$bright-red: hsl(12, 88%, 59%);
$dark-blue: hsl(228, 39%, 23%);

// NEUTRAL COLORS

$dark-grayish-blue: hsl(227, 12%, 61%);
$very-dark-blue: hsl(233, 12%, 13%);
$very-pale-red: hsl(13, 100%, 96%);
$very-light-gray: hsl(0, 0%, 98%);

//WEIGHTS

$fontWeights: (
    regular: 400,
    medium: 500,
    bold: 700,
);

$headingsSize: (
    h1: clamp(2.3rem, 5vw, 3rem),
    h2: clamp(2rem, 5vw, 2.5rem),
    h3: clamp(1.1rem, 4vw, 1.3rem),
);

// BREAKPOINTS

$breakPoints: (
    large: 64em,
    medium: 48em,
);
